<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>First Template Wishes Page</title>
        <style>
        h1,h2,h3{
            text-align: center;
        }
        h1{
            color:blue;
        }
        h2{
            color:green;
        }
        h3{
            color:red;
         }
        #hr1{
            width:95%;
        }
        #hr2{
             width:85%;
        }
        #hr3{
            width:75%;
        }
        </style>
    </head>
    <body>
        <h1>Hello Welcome to Second-Project of DJANGO : Templates-File</h1>
        <hr id="hr1" color="brown"/>
        <h2>Have a nice day...</h2>
        <hr id="hr2" color="green"/>
        <h3>***ALL THE BEST***</h3>
        <hr id="hr3" color="red"/>
    </body>
</html>
